:root {
  --pretty-color: #2196f3;
  --button-color: #188ce8;
  --white-color: #ffffff;
  --black-color: #212121;
  --text-color: #757575;
  --hero-color: #2f303a;
  --team-color: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --footer-icon: #ffffff1a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo {
  margin-right: 93px;
}

.logo {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--pretty-color);
}

.logo__accent {
  color: var(--black-color);
}

.nav-list__link,
.media-list__link {
  transition: color 500ms var(--cubic);
}

.nav-list__link:hover, .nav-list__link:focus,
.media-list__link:hover,
.media-list__link:focus {
  color: var(--pretty-color);
}

.nav-list {
  position: relative;
}

.nav-list__link--current {
  color: var(--pretty-color);
  position: relative;
  padding-bottom: 33px;
}

.nav-list__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--pretty-color);
}

.nav-list,
.media-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.nav-list__item:not(:last-child),
.media-list__item:not(:last-child) {
  margin-right: 50px;
}

.media-list {
  position: relative;
  color: var(--text-color);
  margin-left: auto;
}

.media-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background: var(--white-color);
  border: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.hero {
  background: var(--hero-color);
  color: var(--white-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero .title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.button {
  width: 200px;
  background-color: var(--pretty-color);
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  transition: background-color 250ms var(--cubic);
}

.button:hover, .button:focus {
  background-color: var(--button-color);
}

.features-icons {
  width: 100%;
  height: 120px;
  background: var(--team-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-item {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features-item li {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-item li {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

.pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .pre-title {
    text-align: left;
  }
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.work {
  padding-bottom: 82px;
}

.box {
  display: flex;
}

.pre-title--box {
  position: absolute;
  width: 100%;
  color: var(--white-color);
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  padding: 27px 0px;
  margin-bottom: 0px;
}

.box__item:not(:last-child) {
  margin-right: 30px;
}

.box__img {
  display: block;
}

.box__label {
  position: relative;
}

.team {
  background: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  display: flex;
}

.our-team__surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team__vocation {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.our-team__member {
  padding: 30px 32px 30px 32px;
  text-align: center;
  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__img {
  display: block;
}

.socail {
  display: flex;
  fill: var(--icon-color);
}

.socail__item:not(:last-child) {
  margin-right: 10px;
}

.socail__link {
  fill: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.socail__link:hover, .socail__link:focus {
  fill: var(--white-color);
  background-color: var(--pretty-color);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: fill 250ms var(--cubic), border 250ms var(--cubic);
}

.client-icon:hover, .client-icon:focus {
  fill: var(--pretty-color);
  border: 1px solid var(--pretty-color);
}

.client-list {
  display: flex;
}

.client-list li:not(:last-child) {
  margin-right: 30px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-color);
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-but:hover, .portfolio-but:focus {
  background-color: var(--pretty-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cards li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.cards-item {
  width: 370px;
  text-align: left;
}

.cards-list {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.cards-item img {
  width: 100%;
  height: auto;
  display: block;
}

.cards-item a {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.cards-item a:hover, .cards-item a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.subsection {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.cards-link {
  position: relative;
  overflow: hidden;
}

.cards-thumb:hover .cards-text,
.cards-thumb:focus .cards-text {
  transform: translateY(0);
}

.cards-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 063px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.footer {
  background: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__accent--dark {
  color: var(--white-color);
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--rgba-color);
  width: 231px;
  margin-top: 20px;
  margin-right: 70px;
}

.address li:first-child {
  color: var(--white-color);
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

.icon-title {
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.socail__link--dark {
  background-color: var(--footer-icon);
}

.socail__link--dark:hover, .socail__link--dark:focus {
  fill: var(--white-color);
  background-color: var(--pretty-color);
}

.footer-email {
  margin-left: auto;
}

.email-form {
  align-items: center;
  display: flex;
}

.label-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;
  background: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic);
  transition: visibility 250ms var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--white-color);
  padding: 40px 40px;
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  transition: fill 250ms var(--cubic);
}

.close:focus, .close:hover {
  fill: var(--pretty-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form-input:focus, .form-input:hover {
  border-color: var(--button-color);
  outline: none;
}

.form-input + .form-icon,
.form-input + .form-icon {
  transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.form-field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: inline-block;
  margin-bottom: 10px;
}

.form-field:focus, .form-field:hover {
  border-color: var(--button-color);
  outline: none;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 12px;
}

.form-icon {
  position: absolute;
  display: flex;
  text-align: center;
  justify-items: center;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
}

.form-icon:focus, .form-icon:hover {
  fill: var(--pretty-color);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--pretty-color);
}

.field-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-text {
  width: 100%;
  height: 130px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-text:focus, .form-text:hover {
  border-color: var(--button-color);
  outline: none;
}

.test {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 2px;
  transition: border-color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.contact-form .button {
  margin: 0 auto;
}

.form-text placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.test {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  transition-property: border-color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.modal-form-check:checked + .test {
  border-color: var(--pretty-color);
  background-color: var(--pretty-color);
  background-image: url("../images/icons/check.svg");
  background-size: contain;
  border-radius: 2px;
  background-origin: content-box;
}

.modal-form-check:focus + .test {
  border-color: var(--pretty-color);
}

.modal-form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  align-items: center;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-left: 8.38px;
}

.form-link {
  color: var(--pretty-color);
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */