.client {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-icon {
  // width: 130px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: fill 250ms var(--cubic), border 250ms var(--cubic);

  &:hover,
  &:focus {
    fill: var(--pretty-color);
    border: 1px solid var(--pretty-color);
  }
}
.icons-client {
  width: 106px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;
  margin-left: -30px;
  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
}
.client-list li {
  width: 100%;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
// .client-list {
//   display: flex;
//   & li:not(:last-child) {
//     margin-right: 30px;
//   }
// }
