.footer {
  background: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__accent--dark {
  color: var(--white-color);
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--rgba-color);
  width: 231px;
  margin-top: 20px;
  // margin-right: 70px;
}
.address li:first-child {
  color: var(--white-color);
}
.address li:not(:last-child) {
  margin-bottom: 9px;
}
.icon-title {
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  // display: flex;
  margin-bottom: 20px;
}
.footer .container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}
.socail__link--dark {
  background-color: var(--footer-icon);
  &:hover,
  &:focus {
    fill: var(--white-color);
    background-color: var(--pretty-color);
  }
}

.footer-email {
  flex-direction: column;
  align-items: center;
  // margin-left: auto;
}
.email-form {
  align-items: center;
  // display: flex;
}
.label-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;
  background: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.icon-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
