.header__logo {
  margin-right: 93px;
}

.logo {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--pretty-color);
}
.logo__accent {
  color: var(--black-color);
}

.mobile-menu__icon {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu_close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.mobile-menu_container {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.nav-list__link,
.media-list__link {
  transition: color 500ms var(--cubic);
  &:hover,
  &:focus {
    color: var(--pretty-color);
  }
}

.nav-list {
  position: relative;
}
.nav-list__link--current {
  color: var(--pretty-color);
  position: relative;
  padding-bottom: 33px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;

    background-color: var(--pretty-color);
  }
}

.nav-list,
.media-list {
  display: none;
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  }
}
.nav-list__item:not(:last-child),
.media-list__item:not(:last-child) {
  margin-right: 50px;
}
.media-list {
  position: relative;
  color: var(--text-color);
  margin-left: auto;
}
.media-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header .container {
  display: flex;
  align-items: center;
}
.header {
  background: var(--white-color);
  border: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}
