.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.button-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}
.button-item li:not(:last-child) {
  margin-right: 8px;
}
.button-item li:first-child {
  @media screen and (max-width: 767px) {
    margin-right: 15px;
  }
}

.portfolio-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-color);
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--pretty-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.cards li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.cards-item {
  // width: 370px;
  width: 100%;
  text-align: left;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.cards-list {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.cards-item img {
  width: 100%;
  height: auto;
  display: block;
}
.cards-item a {
  display: block;
  transition: box-shadow 250ms var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.subsection {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.cards-link {
  position: relative;
  overflow: hidden;
}

.cards-thumb:hover .cards-text,
.cards-thumb:focus .cards-text {
  transform: translateY(0);
}
.cards-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 063px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}
