:root {
  --pretty-color: #2196f3;
  --button-color: #188ce8;
  --white-color: #ffffff;
  --black-color: #212121;
  --text-color: #757575;
  --hero-color: #2f303a;
  --team-color: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --footer-icon: #ffffff1a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
